<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>TailwindCSS</title>
</head>
<body class="h-full text-black">

    <div id="el" class="container mx-auto m-12">
        <div class="flex flex-wrap rounded -mx-4">
            <div class="joke w-1/4 p-4 rounded shadow-lg text-black-dark" :key="index" v-for="(joke, index) in jokes">
                <div class="flex flex-col">
                    <div class="flex mb-4 px-2 py-2 items-center">
                        <img class="rounded-full w-8 h-8 mr-2" src="https://images.pexels.com/photos/34802/homeless-man-color-poverty.jpg" :alt="joke.writer">
                        <span> {{ joke.writer}} </span>
                    </div>
                    <p class="mb-4 px-2 py-6">
                        {{ joke.content }}
                    </p>
                </div>
            </div>
            <div class="joke w-1/4 p-4 rounded shadow-lg text-black-dark">
                <div class="flex flex-col">
                    <input class="mb-4 px-2 py-2" type="text" v-model="joke.writer" placeholder="What's your name?">
                    <p v-if="hasError('writer')" class="text-red text-xs italic"> {{ getError('writer') }}</p>
                    <textarea  class="mb-4 px-2 py-6" cols="30" rows="10" v-model="joke.content" placeholder="Make us laugh ..."></textarea>
                    <p v-if="hasError('content')" class="text-red text-xs italic"> {{ getError('content') }}</p>
                    <a class="no-underline self-end cursor-pointer" @click.prevent="addJoke">
                        <i class="fas fa-plus-circle text-3xl text-grey hover:text-grey-darker"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>

    <script>
        new Vue({
            'el': '#el',
            data:{
                joke: {
                    content: '',
                    writer: '',
                },
                jokes: [],
                errors: []
            },

            methods:{
                reset(){
                  this.joke.content = '';
                  this.joke.writer = '';
                },
                addJoke(){

                    if(this.isValidate()){
                        this.jokes.push({
                            content: this.joke.content,
                            writer: this.joke.writer
                        });

                        this.reset();
                    }
                },
                isValidate(){
                    this.errors = [];

                    if(this.joke.content === ''){
                        this.errors.push({
                            key: 'content',
                            content : 'Please put some content before'
                        })
                    }

                    if(this.joke.writer === ''){
                        this.errors.push({
                            key: 'writer',
                            content: 'It would be nice if you can set your name'
                        })
                    }

                    return this.errors.length === 0;
                },
                hasError(key){
                    return this.errors.filter((element) => element.key === key ).length !== 0;
                },
                getError(key){
                    return this.errors.filter((element) => element.key === key )[0].content;
                }
            }
        })
    </script>
</body>
</html>